@using IndustrialSafety.Domain.ViewModel
@{
    var pages = new List<NavigationDropDownModel>()
    {
        new NavigationDropDownModel("Прочее", "Commons", new List<NavigationPageModel>() 
        { 
            new NavigationPageModel("Страны", "Countries"), 
            new NavigationPageModel("Регионы", "Regions"),
            new NavigationPageModel("Города", "Cities"),
        }),
        new NavigationDropDownModel("Компания", "Company", new List<NavigationPageModel>() 
        { 
            new NavigationPageModel("Сотрудники", "Employees"),
            new NavigationPageModel("Организации", "BusinessUnits"),
            new NavigationPageModel("Подразделения", "Departments"),
            new NavigationPageModel("Должности", "JobTitles"),

        }),
        new NavigationDropDownModel("Безопасность", "IndSafety", new List<NavigationPageModel>() 
        { 
            new NavigationPageModel("Проверки", "Checkups"),
            new NavigationPageModel("Нарушения", "Violations")
        }),
        new NavigationDropDownModel("Контрагенты", "Parties", new List<NavigationPageModel>()
        {
            new NavigationPageModel("Персоны", "People"),
        })
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Промышленная безопасность</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IndustrialSafety.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/images/poly_logo.png" style="display: inline-block;">
                    <span style="display: inline-block;">Промышленная безопасность</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Домой</a>
                        </li>
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle"
                                    type="button"
                                    id="MyAccountDDM"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside"
                                    aria-expanded="false">
                                Навигация
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="MyAccountDDM" id="AppDropDownId">
                                @foreach (var navPage in pages)
                                {
                                    <li>
                                        <div class="btn-group dropend">
                                            <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                               aria-expanded="false">
                                                @navPage.Title
                                            </a>
                                            <ul class="dropdown-menu">
                                                @foreach (var navTarget in navPage.Items)
                                                {
                                                    <li><a class="dropdown-item" asp-area="" asp-page="/Admin/@navPage.Path/@navTarget.Path/Index">@navTarget.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Промышленная безопасность - <a asp-area="" asp-page="/Privacy">Конфиденциальность</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>